streamlit==1.38.0
pandas==2.2.2
numpy==1.26.4
isodate==0.6.1
openpyxl==3.1.5
yfinance>=0.2.44

# Google API client (avoid protobuf issues)
google-api-python-client==2.141.0
google-auth-httplib2==0.2.0
protobuf<4

# OpenAI
openai==1.51.2
httpx==0.27.2
httpcore==1.0.4
